@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;

}

body {
  background: #000119;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
}

h3 {
  color: #9fc5ff;
}


.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 92vw;
  max-width: 1100px;
  padding: 1vw;
  align-items: center;
  justify-content: center;
  padding-top: 4vw;
  padding-bottom: 4vw;
}

.data-wrap {
  align-items: center;
  width: 100%;
  padding: 25px;
  background: #151f34;
  border-radius: 5px;
}
.flex-column {
  display: flex;
  column-gap: 15px;
  flex-direction: column;
}

.grid {

  display: grid;
  row-gap: 25px;
  column-gap: 25px;
}

.auto-grid-columns {
  grid-auto-flow: column dense;
  gap: 25px;
  align-items: center;
}

.auto-grid-rows {
  display: grid;
  grid-auto-flow: row dense;
  row-gap: 10px;
}

.opacity-card {
  display: block;
  
  align-items: center;
  border: solid 1px #343546;
  border-radius: 5px;
  padding: 35px;
  background-color: #151f34;
}

.opacity-card h3 {
  font-weight: 400;
  font-size: 1rem;
}

.opacity-card h2 {
  font-weight: 600;
  font-size: 2rem;
}

#confirmed h2 {
  color: #83c885;
}
#deceased h2 {
  color: #f15e58;
}
#recovered h2 {
  color: #727ddf;
}
#active h2 {
  color: #fee174;
}
#critical h2 {
  color: #eb804e;
}


