@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background: white;
    background: #f8f9fa;
}

a {
    text-decoration: none !important;
}

nav.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2vw;
    padding-right: 2vw;
    background: #e7ecf1 !important;
    border-bottom: solid 1px #d8e1eb;
}

div.divider.py-1 {
    padding: 0px !important;
    height: 10px;
    background: #d8e1eb;
    margin-top: 25px;
    margin-bottom: 10px;
}
tr {
    margin-top: 20px !important;
}

tbody, tr {
    border-style: hidden !important;
}

.table-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
}


div.nav-links-container  {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.nav-links-container a {
    margin-left: 15px;
    margin-right: 15px;
}

.row {
justify-content: center;
}

.column {
    float: left;
    width: 23%;
    padding: 25px;
    background: white;
    margin: 12px;
    border: solid 1px #d8e1eb;
    border-radius: 15px;
}

.column div {
    justify-content: center;
}
  
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row a h4 {
    color: #23252a;
}

div.d-flex {
    background: white;
    padding: 35px;
    border: solid 1px #d8e1eb;
    border-radius: 15px;
}

div.d-flex.flex-column {
    margin-top: 50px;
}

.login-requirements {
padding: 25px;
    align-items: left;
}
.login-requirements-item {
    text-align: left;
    font-size: 12px;
    color: #969fa8;
}