@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a {
    color: #496afc;
    text-decoration: none;
}

button {
    color: #496afc;
    text-decoration: none;
    background: #faf5e8;
    border: 1px solid #cac6bc;
    border-radius: 5px;
    padding-left: 15px ;
    padding-right: 15px ;
    padding-top: 10px ;
    padding-bottom: 10px ;
    margin-top: 3px;
    margin-bottom: 3px;
}
h1 {
    font-family: font-family: 'Roboto Slab', serif;;
    
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

table {
    position: relative;
    width: 100%;
    background: #e9f2ff;
    border: solid 1px #cac6bc;
    border-radius: 15px;
    padding: 25px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 92vw;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
}


input {
    background: #faf5e8;
    border: 1px solid #cac6bc;
    border-radius: 5px;
    padding-left: 15px ;
    padding-right: 15px ;
    padding-top: 10px ;
    padding-bottom: 10px ;
    margin-top: 3px;
    margin-bottom: 3px;

}




tr th {
    text-align: left;
}

.flash-message {
    padding: 25px;
    background: #e9f2ff;
    }