<div class="container" style="max-width: 500px;">
    <div class="py-5 text-center">
        <div class="d-flex flex-column">
            <div>
                <img src="/images/My_Socia_Links_LOGO.svg" width="75" height="75" class="d-inline-block align-top">
            </div>
            <br>
            <h3>My Social Links</h3>
            <h5>Please Log in</h5>
            <br>
            <form class="row g-3" action="/login" method="POST">
                <input class="form-control" type="text" name="username" placeholder="Username" required autofocus><br>
                <input class="form-control" type="password" name="password" placeholder="Password" required><br>
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Log in">
            </form>
        </div>
    </div>
</div>