<div class="container">

        <div class="container-box auto-grid-rows max-w-five">
            <div>
                <img src="/images/My_Socia_Links_LOGO.svg" class="logo center">
            </div>
            <div class="auto-grid-rows margin-gap-small text-center">
                <h2 class="no-margin">My Social Links</h2>
                <h5 class="no-margin">Please Log in</h5>
            </div>

            <form class="form-stretch" action="/login" method="POST">
                <input class="input-box" type="text" name="username" placeholder="Username" required autofocus><br>
                <input class="input-box" type="password" name="password" placeholder="Password" required><br>
                <input class="btn btn-bg" type="submit" value="Log in">
            </form>
        </div>

</div>