<h1>Welcome To My Social Links</h1>
<h3>Please Login</h3>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="Username" required><br>
    <input type="password" name="password" placeholder="Password" required><br>
    <input type="submit" value="Login">
</form>