<div class="container">
    <div class="py-5 text-center">
        <h1>
            <%= @user.first_name %> <%= @user.last_name %>'s Links
        </h1>
    </div>
    <div class="d-flex flex-column">
        <% @user.links.each do |link| %>
            <a class="btn btn-lg btn-outline-primary" href="<%= link.format_url %>" style="margin-top: 10px; margin-bottom: 10px"><%= link.name %></a>
        <% end %>
    </div>
</div>
