<div class="container">
        <div class="container-box auto-grid-rows max-w-five">
            <div>
                <img class="logo center" src="/images/My_Socia_Links_LOGO.svg" alt="">
            </div>
            <div class="auto-grid-rows margin-gap-small text-center">
                <h2 class="no-margin">My Social Links</h2>
                <h5 class="no-margin">Sign up</h5>
            </div>
            <br>
        <form class="form-stretch" action="/signup" method="POST">
            <input class="input-box"  type="text" name="first_name" placeholder="First Name" required autofocus><br>
            <input class="input-box"  type="text" name="last_name" placeholder="Last Name" required><br>
            <input class="input-box"  type="text" name="username" placeholder="Username" required ><br>
            <input class="input-box"  type="text" name="email" placeholder="Email" required><br>
            <input class="input-box"  type="password" name="password" placeholder="Password" required><br>
            <input class="btn btn-bg"  type="submit" value="Sign up">
        </form>
            <ul class="info-text">
                <p class="login-requirements-item">Password Must Contain</p>
                <li class="login-requirements-item">Minimum 8 Characters</li>
                <li class="login-requirements-item">Capital & Lowercase Letter</li>
                <li class="login-requirements-item">1 Number</li>
            </ul>
        </div>
</div>
