<div class="container">

    <div class="container-box auto-grid-rows max-w-five">
        <div>
            <img src="/images/My_Socia_Links_LOGO.svg" class="logo center">
        </div>
        <div class="auto-grid-rows margin-gap-small text-center">
            <h2 class="no-margin">Welcome To My Social Links</h2>
        </div>
        <div class="auto-grid-rows margin-gap-small">
            <a class="btn btn-bg primary-outline " href="/login">Log in</a>
            <a class="btn btn-bg"href="/signup">Sign up</a>
        </div>

    </div>

</div>