<section class="container">
    <div class="py-5 text-center">
        <div class="container" style="max-width: 500px;">
            <div class="py-5 text-center">
                <div class="d-flex flex-column text-center">
                    <div>
                        <img src="/images/My_Socia_Links_LOGO.svg" width="75" height="75" class="d-inline-block align-top">
                    </div>
                    <br>
                    <h4>Welcome To My Social Links</h4>
                    <a class="btn btn-outline-primary btn-lg" href="/login" style="margin-top: 15px;">Log in</a>
                    <a class="btn btn-primary btn-lg"href="/signup" style="margin-top: 15px;">Sign up</a>
                </div>
                <br>
                <div>
                </div>
            </div>
    </div>
</section>