<!DOCTYPE html>
<html>
  <head>
    <title></title>
    
    <link rel="stylesheet" href="stylesheets/style.css">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"> -->
  </head>
  <body>
    <% if flash.has?(:message) %>
    <div class="flash-message">
        <h2><%= flash[:message] %></2>
        </div>
      <% end %>
    <%= yield %>
  </body>
</html>