<!DOCTYPE html>
<html>
  <head>
    <title></title>
    
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <% if flash.has?(:message) %>
    <div class="flash-message">
        <h2><%= flash[:message] %></2>
        </div>
      <% end %>
    <%= yield %>
  </body>
</html>